@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: max-content;
    background-image: linear-gradient(to top, rgb(55, 12, 147), rgb(97, 5, 255));
    background-repeat: no-repeat;
    background-size: cover;

}

.header{
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 2fr;
    padding-left: 2%;
    padding-right: 2%;
    position: relative;
    padding-bottom: 2%;
}

.menu{
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.menu .listaMenu li a{
    width: 100%;
    padding: 5%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    justify-content: space-between;
    border-style: solid;
    border-width: 0.8px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    background-color: darkslateblue;
    color: aliceblue;
}

.menu .listaMenu li a:hover{
    -moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(1.06);
    transition-duration: 1s;
    background: aliceblue;
    color: darkslateblue;
    border-color: darkslateblue;
}

.menu .listaMenu li{
    list-style: none;
    display: inline-flex;
}

.title{
    height: max-content;
    grid-row-start: 1fr;
    grid-row-end: 1fr;
    grid-column-start: 1fr;
    grid-column-end: 3fr;
    font-size: 18px;
    font-weight: 600;
    color: darkslateblue;
    text-align: center;
}

.trajetoria{
    width: 30%;
    grid-column-start: 1fr;
    grid-column-end: 1fr;
    grid-row-start: 2fr;
    grid-row-end: 2fr;
}

.tecnologias{
    width: 30%;
    grid-row-start: 2fr;
    grid-row-end: 2fr;
    grid-column-start: 2fr;
    grid-column-end: 2fr;
}

.contatos{
    width: 30%;
    grid-row-start: 2fr;
    grid-row-end: 2fr;
    grid-column-start: 3fr;
    grid-column-end: 3fr;
}

.container{
    padding: 5%;
    width: 100%;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 4;
    color: aliceblue;
}

.profile{
    width: 100%;
    display: flex;
    justify-content: center;
    grid-column: 1;
    grid-row: 1;
}

.profile:hover{
    -moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(1.06);
    transition-duration: 1s;
}

.profile img{
    width: 40%;
    border-radius: 50%;
    border-color: aliceblue;
    border-style: solid;
    border-width: 1.8px;
}

.sobre{
    display: flexbox;
    text-align: center;
}

.sobre .titleSobre{
    margin-top: 5%;
    margin-bottom: 5%;
}

.sobre .p1, .p2{
    font-size: 15px;
    font-weight: 500;
}

.tecnologiasUsadas img{
    width: 30%;
}

.tecnologiasUsadas img:hover{
    -moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(1.06);
    transition-duration: 1s;
}

.tecnologiasUsadas{
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    display: flexbox;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: darkslateblue;
}

.titleTecnologias {
    display: flexbox;
    margin-bottom: 2%;
    color: aliceblue;
    font-size: 16px;
    font-weight: 700;
}

.tecnologiasUsadas div{
    display: flexbox;
    margin-bottom: 15%;
    margin-top: 1%;
}

 .tecnologiasUsadas .titleTecnologias:hover{
    -moz-transform: none;
	-webkit-transform: none;
	transform: none;
    transition-duration: 0s;
 }

.tecnologiasUsadas div:hover{
    -moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(1.1);
    transition-duration: 1s;
}

.containerHtml, .containerCss, .containerJs, .containerJava, .containerMysql, .containerGithub{
    background-color: rgb(240, 248, 255);
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 1%;
    display: flexbox;
    border-radius: 20px;
}

.tecnologiasUsadas p{
    height: max-content;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 7%;
    font-size: 15px;
    font-weight: 500;
}
