@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    background-image: url(imgs/fundo.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: max-content;
    width: 100%;
    display: flex;
}


header
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}

header a
{
    text-decoration: none;
    list-style: none;
}

header ul li
{
    list-style: none;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 700;
}

header ul li a
{
    padding: 6px 15px;
    color: aliceblue;
}

header ul li a:hover
{
background: rgb(243, 0, 89);
color: rgb(255, 255, 255);
border-bottom-style: solid;
border-color: rgb(0, 110, 255);
border-radius: 25px;
}

header .nome:hover
{
    background: rgb(243, 0, 89);
    color: rgb(255, 255, 255);
    border-bottom-style: solid;
    border-color: rgb(0, 110, 255);
    border-radius: 50px;
}

header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .nome
{
    padding: 5px 10px;
    color: aliceblue;
    font-size: 3em;
    letter-spacing: 2px;
}

main .perfil
{
    border-style: solid;
    border-color: rgb(243, 0, 89);
    border-radius: 50%;
    border-bottom-width: 0.6vmin;
    width: 15vw;
}

.borderPic
{
    display: flex;
    border-radius: 50%;
    width: 15vw;
    border-bottom-style: solid;
    border-color: rgb(0, 110, 255);
    border-bottom-width: 0.60vmin;
}

main
{
    width: 50%;
    height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding: 20px;
    top: 18vw;
    left: 22vw;
    background-color: rgba(240, 248, 255, 0.3);
    border-color: rgb(0, 110, 255);
    border-radius: 40px;
    backdrop-filter: blur(20px);
    border-style: outset;
    transition-duration: 1s;
}

main:hover
{
    -moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(1.01);
}

main .sobre
{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    width: 600px;
    height: max-content;
}

main .sobre .left
{
    text-align: left;
}

main .sobre .center
{
    text-align: center;
}

main .sobre .right
{
    text-align: right;
}

.redesSociais .listaSociais img
{
    width: 42px;
    height: 42px;
}

.redesSociais ul li
{
    list-style: none;
}

.redesSociais ul li a
{
    text-decoration: none;
}

.redesSociais
{
    position: fixed;
    display: flex;
    right: 0px;
    width: 50px;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    margin-top: 10vw;
    height: max-content;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    border-radius: 20px;
}

.tecnologias
{
    width: 80%;
    height: max-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 3fr;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1000px;
    left: 9%;
    padding: 0px;
}

.tecnologias img
{
    width: 80px;
    height: 80px;
}

.tecnologias .html
{
    width: 320px;
    height: 420px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    background-color: rgba(240, 248, 255, 0.3);
    border-color: rgb(0, 110, 255);
    border-radius: 40px;
    backdrop-filter: blur(20px);
    border-style: outset;
    transition-duration: 1s;
}

.tecnologias .css
{
    width: 320px;
    height: 420px;
    background-color: aliceblue;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    background-color: rgba(240, 248, 255, 0.3);
    border-color: rgb(0, 110, 255);
    border-radius: 40px;
    backdrop-filter: blur(20px);
    border-style: outset;
    transition-duration: 1s;
}

.tecnologias .js
{
    width: 320px;
    height: 420px;
    background-color: aliceblue;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    background-color: rgba(240, 248, 255, 0.3);
    border-color: rgb(0, 110, 255);
    border-radius: 40px;
    backdrop-filter: blur(20px);
    border-style: outset;
    transition-duration: 1s;
}

.tecnologias .java
{
    width: 320px;
    height: 420px;
    background-color: aliceblue;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    background-color: rgba(240, 248, 255, 0.3);
    border-color: rgb(0, 110, 255);
    border-radius: 40px;
    backdrop-filter: blur(20px);
    border-style: outset;
    transition-duration: 1s;
}

.tecnologias .mysql
{
    width: 320px;
    height: 420px;
    background-color: aliceblue;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    background-color: rgba(240, 248, 255, 0.3);
    border-color: rgb(0, 110, 255);
    border-radius: 40px;
    backdrop-filter: blur(20px);
    border-style: outset;
    transition-duration: 1s;
}

.tecnologias .github
{
    width: 320px;
    height: 420px;
    background-color: aliceblue;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    background-color: rgba(240, 248, 255, 0.3);
    border-color: rgb(0, 110, 255);
    border-radius: 40px;
    backdrop-filter: blur(20px);
    border-style: outset;
    transition-duration: 1s;

}

.tecnologias article
{
    margin: 88px;
}

.tecnologias .titleTecnologias
{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 52px;
    font-family: url(font/Poppins-Thin.otf) sans-serif;
    color: aliceblue;
}

.tecnologias article:hover
{
    -moz-transform: scale(0.8);
	-webkit-transform: scale(0.8);
	transform: scale(1.05);
}

.rodape
{
    width: 25%;
    height: 45px;
    position: fixed;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-family: url(font/Poppins-Thin.otf) sans-serif;
    font-weight: 700;
    color: aliceblue;
    bottom: 0px;
    left: 700px;
    text-align: center;
    display: flexbox;
    background-color: rgba(240, 248, 255, 0.3);
    border-color: rgb(0, 110, 255);
    backdrop-filter: blur(20px);
    border-top-style: outset;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.rodape:hover
{
    -moz-transform: scale(0.3);
	-webkit-transform: scale(0.3);
	transform: scale(1.02);
}