@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    background-image: url(imgs/fundo.jpg);
    background-size: cover;
    background-attachment: fixed;
}

::-webkit-scrollbar
{
    width: 10px;
}

::-webkit-scrollbar-track
{
    background: linear-gradient(to top, rgb(255, 86, 148), rgb(118, 1, 44));
}

::-webkit-scrollbar-thumb
{
    background: linear-gradient(to top, rgb(98, 161, 242), rgb(1, 25, 58));
    border-radius: 50px;
}


.tecnologias :hover
{
    -moz-transform: scale(0.8);
	-webkit-transform: scale(0.8);
	transform: scale(1.05);
}

