<app-header>
    <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <h1>menu</h1>
        </button>
        <span>My App</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <h1>favorite</h1>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <h1>share</h1>
        </button>
      </mat-toolbar>
      
</app-header>

<router-outlet></router-outlet>
