*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*Molbile Galaxy Fold*/
/*@media (max-width: 281px) {
    .logo img{
        width: 100%;
    }

    .logo{
        width: 100%;
        margin: 0px;
        padding: 12px;
        border-radius: 0px;
    }

    .login{
        width: 100%;
        margin-top: 80px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .login .title{
        font-size: 24px;
    }

    .login input{
        width: 95%;
        margin-top: 2px;
        height: 24px;
    }

    .login p{
        font-size: 12px;
    }

    .login p a{
        font-size: 12px;
    }
}*/

/*Mobile*/
body{
    --cor-site: #6314A8;
    background-color: var(--cor-site);
    font-family: sans-serif;
    width: 100%;
}

.logo{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    border-radius: 0px 0px 20px 20px;
    background-color: rgb(240, 248, 255);
}

.logo img{
    margin-top: 10px;
    margin-bottom: 10px;
}

.login{
    display: grid;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: max-content;
    justify-items: center;
    text-align: center;
    grid-template-columns: 1;
    grid-template-rows: 2;
    border-radius: 20px;
    color: aliceblue;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 500;
    margin-top: 80px;
    padding-left: 10px;
    padding-right: 10px;
}

.login input{
    text-align: center;
    margin: 10px;
    height: 30px;
    background-color: #360b5e;
    border-style: none;
    border-radius: 10px;
    color: aliceblue;
}

.login input:hover{
    -moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(1.03);
    transition-duration: 0.5s;
    background-color: #49226d;
    border: aliceblue;
    border-width: 2px;
    border-style: solid;
    color: aliceblue;
    font-family: sans-serif;
    font-size: 16px;
}

.login ::placeholder{
    color: aliceblue;
    font-size: 14px;
    font-weight: 600;
}

.login p{
    margin: 5px;
}

.login p a{
    color: #3e82ff;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    
}

.login .title{
    grid-column: 1;
    grid-row: 1;
    margin: 20px;
    font-size: 30px;
    font-weight: 800;
}

.containerLogin{
    width: 100%;
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 4;
}

.containerLogin p{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;

}


.containerLogin .inscrever{
    margin-top: 20px;
}

.containerLogin .esqueceu{
    margin-bottom: 30px;
}

.buttons{
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-entrar:hover{
    -moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(1.03);
    transition-duration: 0.5s;
    background-color: #49226d;
    color: aliceblue;
    border-color: aliceblue;
}

.btn-entrar{
    width: 30%;
    font-size: 14px;
    color: var(--cor-site);
    font-weight: 700;
    background-color: aliceblue;
    cursor: pointer;
    border: solid rgb(55, 2, 90) 2px;
    border-radius: 20px;
    padding: 2px;
}


.btn-apagar:hover{
    -moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(1.03);
    transition-duration: 0.5s;
    background-color: #49226d;
    color: aliceblue;
    border-color: aliceblue;
}

.btn-apagar{
    width: 30%;
    font-size: 14px;
    color: var(--cor-site);
    font-weight: 700;
    background-color: aliceblue;
    cursor: pointer;
    border: solid rgb(55, 2, 90) 2px;
    border-radius: 20px;
    padding: 2px;
}


/*Tablet*/
@media (min-width: 720px) {
    body{
        --cor-site: #6314A8;
        background-image: linear-gradient(to bottom, var(--cor-site), #9369b8);
        width: 100%;
        height: 100vh;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        font-family: sans-serif;
    }


    .logo{
        display: flex;
        margin-left: 80px;
        margin-right: 80px;
        justify-content: center;
        border-radius: 0px 0px 20px 20px;
        background-color: rgb(240, 248, 255);
    }

    .login{
        font-size: 22px;
        margin-top: 140px;
        padding-left: 70px;
        padding-right: 70px;
    }

    .login .title{
        margin: 20px;
        font-size: 44px;
        font-weight: 800;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .login input{
        height: 40px;
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .login ::placeholder{
        color: aliceblue;
        font-size: 18px;
        font-weight: 600;
    }

    .login input:hover{
        -moz-transform: scale(0.8);
        -webkit-transform: scale(0.8);
        transform: scale(1.05);
        transition-duration: 0.7s;
    }

    .login p a{
        font-size: 18px;
    }

    .containerLogin p{
        font-size: 18px;
        font-weight: 700;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .buttons{
        margin-top: 15px;
        margin-bottom: 8px;
    }
    
    .btn-entrar{
        width: 35%;
        height: 30px;
        font-size: 18px;
    }
    
    .btn-apagar{
        width: 35%;
        height: 30px;
        font-size: 18px;
    }
    
}

/*Tablet HD*/
@media (min-width: 1024px) {
    
    .logo{
        margin-left: 120px;
        margin-right: 120px;
    }

    .login{
        margin-top: 220px;
    }
    
    .login input{
        margin-left: 85px;
        margin-right: 85px;
    }

    .buttons{
        margin-top: 15px;
        margin-bottom: 8px;
    }
    
    .btn-entrar{
        width: 27%;
        height: 40px;
        font-size: 18px;
    }
    
    .btn-apagar{
        width: 27%;
        height: 40px;
        font-size: 18px;
    }
}


/*Desktop HD*/
@media (min-width: 1200px) {
    
    .logo{
        margin-left: 420px;
        margin-right: 420px;
    }

    .login{
        margin-top: 80px;
        padding-left: 440px;
        padding-right: 440px;
    }

    .login .title{
        margin: 20px;
        font-size: 44px;
        font-weight: 800;
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .login input{
        height: 40px;
        font-size: 22px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .login ::placeholder{
        font-size: 20px;
        font-weight: 700;
    }

    .login input:hover{
        -moz-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(1.07);
        transition-duration: 0.7s;
    }

    .login p a{
        font-size: 20px;
    }

    .containerLogin p{
        font-size: 20px;
        font-weight: 700;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .buttons{
        margin-top: 15px;
        margin-bottom: 8px;
    }
    
    .btn-entrar{
        width: 22%;
        height: 30px;
        font-size: 18px;
    }
    
    .btn-apagar{
        width: 22%;
        height: 30px;
        font-size: 18px;
    }
    
}

/*Desktop FHD*/
@media (min-width: 1920px) {
    
    .logo{
        margin-left: 480px;
        margin-right: 480px;
    }

    .login{
        margin-top: 180px;
        padding-left: 480px;
        padding-right: 480px;
    }
}
