*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    --cor-site: #ffffff;
    background-color: #848cc0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
    width: 100%;
    height: max-content;
}

.header{
    width: 100%;
    background-color: #fff;
    padding: 1vh;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 0vh 0vh 14vh 14vh;
   /* border: 0.1vh solid black;*/
}

/*.header img{
    width: 200px;
    height: 87px;
}
*/
.container{
    width: 30%;
    height: 40vh;
    background-color : #fff;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 4;
    position: relative;
    top: 15vh;
    left: 35%;
    padding: 1vh;
    border-radius: 1vh;
    text-align: center;
    color: #525a8e;
    box-shadow: 8px 8px 2px #525a8e;
    border: 0.1vh solid #fff;
    
}

.container .title{
    grid-column: 1;
    grid-row: 1;
    position: relative;
    top: 4vh;
    font-size: 38px;
    font-weight: 700;

}

.frase{
    grid-column: 1;
    grid-row: 2;
    margin-left: 6vh;
    margin-right: 6vh;
    font-size: 20px;
    position: relative;
    top: 2vh;
}

.input{
    grid-column: 1;
    grid-row: 3;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 4vh;
    position: relative;
    top: 2vh;
    border: none;
    background-image: linear-gradient(to right, rgba(157, 107, 184, 0.7), rgba(106, 116, 184, 0.7), rgba(88, 193, 154, 0.7)); 
    font-size: 20px;
    border-radius: 1.5vh;
    border: 0.2vh solid #fff;
}

.input:hover{
    -moz-transform: scale(0.3);
	-webkit-transform: scale(0.3);
	transform: scale(1.08);
    transition-duration: 0.8s;
    border: 0.2vh solid #fff;
}

.input::placeholder{
    color: #ffffff;
    font-size: larger;
    font-weight: 700;
    text-align: center;
}

.input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

.btnEnviar{
    grid-column: 1;
    grid-row: 4;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    height: 4vh;
    position: relative;
    cursor: pointer;
    border-radius: 1vh;
    border: 0.2vh solid #fff;
    font-size: 16px;
    font-weight: 700;
    color: var(--cor-site);
    background-image: linear-gradient(to right, #9d6ab8, #6a74b8, #58c19a);
}

.btnEnviar:hover{
    -moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(1.03);
    transition-duration: 0.5s;
}

@media screen and (min-width: 1600px) and (max-width: 1919px) {
    
    .container .title{
        top: 3vh;
        font-size: 30px;
        font-weight: 700;
    }

    .container .frase{
        font-size: 19.4px;
        font-weight: 500;
        margin-left: 1vh;
        margin-right: 1vh;
    }

    .container .input{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        height: 4.5vh;
    }

}

@media screen and (min-width: 1366px) and (max-width: 1599px) {
    
    .container .title{
        top: 3vh;
        font-size: 26px;
        font-weight: 700;
    }

    .container .frase{
        font-size: 17.4px;
        font-weight: 500;
        margin-left: 1vh;
        margin-right: 1vh;
    }

    .container .input{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        height: 4.5vh;
    }

    .container .input::placeholder{
        font-size: 17px;
    }



}

@media screen and (min-width: 1280px) and (max-width: 1365px){
    
    .container .title{
        top: 2vh;
        font-size: 24px;
        font-weight: 700;
    }

    .container .frase{
        font-size: 17.4px;
        font-weight: 500;
        margin-left: 1vh;
        margin-right: 1vh;
    }

    .container .input{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        height: 4.5vh;
    }

    .container .input::placeholder{
        font-size: 17px;
    }

}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    
    .container{
        width: 70%;
        left: 15%;
        right: 15%;
        height: 35vh;
    }

    .container .title{
        top: 3vh;
        font-size: 46px;
        font-weight: 600;
    }

    .container .frase{
        font-size: 26px;
        font-weight: 100;
        margin: 1vh;
        margin-left: 4vh;
        margin-right: 4vh;
    }

    .container .input{
        margin-bottom: 3vh;
        width: 90%;
        height: 5vh;
        left: 5%;
        right: 5%;
        margin: 0vh;
        margin-bottom: 3vh;
    }

    .container .input::placeholder{
        font-size: 25px;
        font-weight: 500;
    }

    .container .btnEnviar{
        font-size: 22px;
        font-weight: 600;
    }

}

@media screen and (min-width: 712px) and (max-width: 1023px) {
    
    .container{
        width: 70%;
        left: 15%;
        right: 15%;
        height: 40vh;
    }

    .container .title{
        top: 2vh;
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 0vh;
    }

    .container .frase{
        font-size: 21px;
        font-weight: 600;
        margin-left: 2vh;
        margin-right: 2vh;
    }

    .container .input{
        margin-bottom: 3vh;
        width: 90%;
        height: 6vh;
        left: 5%;
        right: 5%;
        margin: 0vh;
        margin-bottom: 3vh;
    }

    .container .input::placeholder{
        font-size: 25px;
        font-weight: 500;
    }

    .container .btnEnviar{
        font-size: 22px;
        font-weight: 600;
        height: 5vh;
    }

}

@media screen and (min-width: 375px) and (max-width: 711px) {
    .header{
        width: 100%;
        border-radius: 0vh;
    }
    .container{
        width: 95%;
        margin: 0vh;
        margin-left: 2.5%;
        margin-right: 2.5%;
        height: 40vh;
        border-radius: 1vh;
        left: 0vh;
    }

    .container .title{
        top: 2vh;
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 0vh;
    }

    .container .frase{
        font-size: 15.5px;
        font-weight: 500;
        margin-left: 1vh;
        margin-right: 1vh;
    }

    .container .input{
        width: 95%;
        height: 6vh;
        left: 2.5%;
        right: 2.5%;
        margin: 0vh;
        margin-bottom: 2vh;
    }

    .container .input::placeholder{
        font-size: 22px;
        font-weight: 500;
    }

    .container .btnEnviar{
        font-size: 18px;
        font-weight: 500;
        height: 5vh;
    }

}

@media screen and (min-width: 300px) and (max-width: 374px) {
    .header{
        width: 100%;
        border-radius: 0vh;
    }
    .container{
        width: 95%;
        margin: 0vh;
        margin-left: 2.5%;
        margin-right: 2.5%;
        height: 50vh;
        border-radius: 1vh;
        left: 0vh;
    }

    .container .title{
        top: 2vh;
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 0vh;
    }

    .container .frase{
        font-size: 15.5px;
        font-weight: 500;
        margin-left: 1vh;
        margin-right: 1vh;
        margin: 1vh;
    }

    .container .input{
        width: 95%;
        height: 7vh;
        left: 2.5%;
        right: 2.5%;
        margin-bottom: 2vh;
        margin-left: 0vh;
        margin-right: 0vh;
    }

    .container .input::placeholder{
        font-size: 22px;
        font-weight: 500;
    }

    .container .btnEnviar{
        font-size: 18px;
        font-weight: 500;
        height: 6vh;
        margin-top: 2vh;
    }

}


@media screen and (min-width: 250px) and (max-width: 299px) {
    
    .header img{
        width: 217px;
        height: 50px;
    }

    .header{
        width: 100%;
        border-radius: 0vh;
    }

    .container{
        width: 100%;
        height: max-content;
        left: 0vh;
        border-radius: 0vh;
        margin: 0vh;
    }

    .container .title{
        top: 2vh;
        font-size: 27px;
        font-weight: 700;
        margin-bottom: 1vh;
    }

    .container .frase{
        font-size: 18px;
        font-weight: 500;
        margin: 2vh;
        margin-bottom: 3vh;
    }

    .container .input{
        width: 95%;
        left: 2.5%;
        right: 2.5%;
        margin: 0vh;
        margin-bottom: 4vh;
        height: 7vh;
    }

    .container .input::placeholder{
        font-size: 20px;
        font-weight: 600;
    }

    .container .btnEnviar{
        margin-bottom: 4vh;
        height: 5vh;
    }

}

