*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    /*#5edd7d verde */
    /*#aa40c2 roxo */
    background-color: #aa40c2;
    font-family: sans-serif;
    width: 100%;
    height: max-content;
    position: relative;

}

.header{
    width: 100%;
    background-color: #5edd7d;
    display: flex;
    justify-content: space-around;
    color: black;
    align-items: center;
    text-align: center;
    font-weight: 500;
}

.header ul li{
    list-style: none;
    font-size: 25px;
    border-bottom: 0.25vh solid black;
    padding: 1vh;
    margin-left: 3vh;
    margin-right: 3vh;
}

.header ul li a{
    text-decoration: none;
    color: black;
}

.header img{
    width: 200px;
    height: 121px;
}

.logo {
    left: 1vh;
    position: relative;
}

.slide-image{
    object-fit: cover;
    width:97%;
    height: 80vh;
    display: grid;
    align-items: center;
    margin: 3vh;
}

.menu{
    display: flex;
    position: relative;
}

.menu :hover{
    cursor: grab;
    -moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(1.08);
    transition-duration: 0.5s;
}

.mapa{
    display: grid;
    align-items: center;
    text-align: center;
}

.mapa h1{
    margin: 5vh;
    font-size: 48px;
}

.containerMapa{
    width: 95%;
    height: 70vh;
    border: 0.2vh rgb(0, 0, 0) solid;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-radius: 2vh;
    background-color: #fff;
    box-shadow: 10px 10px 7px 0px rgba(0,0,0,0.37);
    margin-bottom: 3vh;
}

.encomendas{
    display: grid;
    align-items: center;
    text-align: center;
}

.encomendas h1{
    margin: 5vh;
    font-size: 48px;
}

.encomendasContainer{
    width: 75%;
    height: 70vh;
    border: 0.2vh rgb(0, 0, 0) solid;
    margin-left: 12.5%;
    margin-right: 12.5%;
    border-radius: 2vh;
    background-color: #fff;
    box-shadow: 10px 10px 7px 0px rgba(0,0,0,0.37);
    margin-bottom: 3vh;
}


.entregador{
    display: grid;
    align-items: center;
    text-align: center;
}

.entregador h1{
    margin: 5vh;
    font-size: 48px;
}

.entregadorContainer{
    width: 75%;
    height: 50vh;
    border: 0.2vh rgb(0, 0, 0) solid;
    margin-left: 12.5%;
    margin-right: 12.5%;
    border-radius: 2vh;
    background-color: #fff;
    box-shadow: 10px 10px 7px 0px rgba(0,0,0,0.37);
    margin-bottom: 5vh;
}

.footer{
    position: relative;
    margin-top: 10vh;
    width: 100%;
    height:max-content;
    background-color: black;
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-size: 18px ;
    color: #5edd7d;
    text-align: center;
}

.menuProfile img{
    width: 10vh;
    height: 10vh;
    border: 0.4vh solid white;
    border-radius: 50%;
    position: relative;
    background-color: #5edd7d;
}

.navProfile{
    position: absolute ;
    right: 5vh;
    top: 15vh;
    background-color: #5edd7d;
    margin: 0vh;
    padding: 1vh;
    padding-bottom: 2vh;
    display: none;
    border: 0.3vh solid white;
    border-radius: 2vh;
}

.imgProfile:focus ~ .navProfile{
    display: block;
    position: absolute;
}

.navProfile:hover{
    display: block;
    position: absolute;
}

@media screen and (min-width: 1280px) and (max-width: 1599px){

    .navProfile{
        top: 18vh;
        right: 2vh;
    }

}
   
@media screen and (min-width: 768px) and (max-width: 1279px){


    .slide-image{
        width: 100%;
        margin: 0px;
    }

    .header{
        justify-content: space-between;
    }
    
    .menu{
        display: none;
    }

    .imgProfile img{
        margin: 1vh;
        right: 2vh;
    }

    .logo{
        left: 2vh;
    }
}

@media screen and (min-width: 279px) and (max-width: 767px){

    .menu{
        display: none;
    }

    .imgProfile img{
        margin: 1vh;
        right: 2vh;
    }

    .slide-image{
        width: 100%;
        margin: 0px;
    }

    .logo{
        left: 1vh;
    }

    .logo img{
        width: 150px;
        height: 61px;
    }

    .mapa h1{
        font-size: 34px;
    }

    .containerMapa{
        width: 100%;
        border: none;
        margin: 0px;
        border-radius: 0vh;
        box-shadow: none;
    }

    .encomendas h1{
        font-size: 34px;
    }

    .encomendasContainer{
        width: 100%;
        border: none;
        margin: 0px;
        border-radius: 0vh;
        box-shadow: none;
    }

    .entregador h1{
        font-size: 34px;
    }

    .entregadorContainer{
        width: 100%;
        border: none;
        margin: 0px;
        border-radius: 0vh;
        box-shadow: none;
    }
    .footer{
        font-size: 14px;
    }

}

@media screen and (min-width: 279px) and (max-width: 767px){

    .logo img{
        width: 100px;
        height: 61px;
    }

    .slide-image{
        width: 100%;
        margin: 0px;
    }
}




    
