/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    margin: 0px;
}
body { 
    margin: 0px; 
    padding: 0px;
    font-family: Roboto, "Helvetica Neue" ,sans-serif;
    background-color: rgb(87, 9, 221); 
    color: aliceblue;
}

.footer{
    position: fixed ;
    bottom: 0px;
}
